@font-face {
    font-family: SourceSansPro;
    src: url(SourceSansPro-Regular.ttf);
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  a {
    color: #0087C3;
    text-decoration: none;
  }
  
  body {
    position: relative;
    width: 21cm;  
    height: 29.7cm; 
    margin: 0 auto; 
    color: #555555;
    background: #FFFFFF; 
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    font-family: SourceSansPro;
  }
  
  header {
    padding: 10px 0;
    margin-bottom: 20px;
    position: fixed;
  }

  #logo {
    float: left;
    margin-top: 8px;
  }

  #logowsp img{
    float: left;
    margin-top: 4px;
    margin-right: 6px;
  }

  #logowsp img{
    height: 10px;
  }
  
  #logo img {
    height: 100px;
  }
  
  #details2 {
    margin-bottom: 15px;
    margin-left: 10px;
  }

  #details3 {
    margin-right: 15px;
    float: right;
  }

  #client {
    padding-left: 6px;
    border-left: 6px solid #156b4f;  
    float: left;
    margin-bottom: 20px;
  }
  
  #client .to {
    color: #777777;
    margin-left: 4px;
  }
  
  h2.name {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
  }

  h2.titulo {
    font-size: 1.6em;
    font-weight: normal;
    color: #156b4f;
    margin: 0;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    padding-top: 110px;
  }

  #tabla{
    position:fixed;
    top:150px;
  }
  
  table th {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #EEEEEE;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
    font-weight: normal;
  }
  
  table td {
    padding-top: 2px;
    padding-bottom: 2px;
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
  }
  
  table td h3{
    color: #156b4f;
    font-size: 1.0em;
    font-weight: normal;
    margin: 0 0 0.2em 0;
    width: 7cm;
  }
  
  table .no {
    padding-left: 10px;
    padding-right: 10px;
    color: #FFFFFF;
    font-size: 1.0em;
    background: #156b4f;
  }
  
  table .desc {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    color: #FFFFFF;
    font-size: 1.0em;
    background: #156b4f;
  }
  
  table .unit {
    padding-left: 10px;
    padding-right: 10px;
    color: #FFFFFF;
    font-size: 1.0em;
    background: #156b4f;
  }

  table .qty{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.0em;
    background: #156b4f;
  }

  table .precio {
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    font-size: 1.0em;
    background: #156b4f;
  }
  
  table .total {
    padding-left: 20px;
    padding-right: 20px; 
    color: #FFFFFF;
    font-size: 1.0em;
    background: #156b4f;
  }

  table .nodetalle {
    padding-left: 10px;
    padding-right: 10px;
    background: #FFFFFF;
    font-size: 1.0em;
    text-align: center;
  }
  
  table .descdetalle {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.0em;
    text-align: left;
    background: #FFFFFF;
  }
  
  table .qtydetalle{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 1.0em;
    background: #FFFFFF;
  }

  table .preciodetalle {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.0em;
    text-align: center;
    background: #FFFFFF;
  }
  
  table .unitdetalle {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.0em;
    text-align: center;
    background: #FFFFFF;
  }

  table .totaldetalle {
    padding-left: 20px;
    padding-right: 20px; 
    font-size: 1.0em;
    text-align: center;
    background: #FFFFFF;
  }
  
  table td.unit,
  table td.precio,
  table td.qty,
  table td.total {
    font-size: 1.2em;
  }

  
  table tfoot td {
    padding: 2px 2px;
    background: #FFFFFF;
    border-bottom: none;
    font-size: 1.2em;
    white-space: nowrap; 
    border-top: 1px solid #AAAAAA; 
  }
  
  table tfoot tr:last-child td {
    border-top: 1px solid #156b4f;
    color: #156b4f;
    font-size: 1.4em;
  }

  #tablafoot1{
    border-top: 1px solid #156b4f;
    font-size: 1.4em;
  }

  #tablafoot2{
    border-top: 1px solid #156b4f;
    text-align: center;
    font-size: 1.4em;
  }

  #titulopedido{
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
  }
  
  #notices{
    padding-left: 6px;
    border-left: 6px solid #156b4f;  
  }
  
  #notices .notice {
    font-size: 1.2em;
  }
  
  footer {
    color: #777777;
    width: 100%;
    height: 120px;
    position: fixed;
    bottom: 0;
    padding: 8px 0;
    text-align: center;
  }

  #contactofooter{
    padding-top: 8px;
    border-top: 1px solid #AAAAAA;
  }
  
  #serviciodetalle{
      background-color: #156b4f;
      color: white;
      text-align: center;
  }